*{
	padding: 0; 
	margin: 0;
}
body {
	height: auto;
	text-align:center;
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	background:white;
}

#big_wrapper{
	width:1000px;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	text-align:left;
}

section{
	width:100%;
	height:auto;
	margin-top:10px;
	margin-bottom: 30px;
	}

a{
	all: unset;
}

p {
	color:#006491;
	line-height: 1.5em;
	padding: 20px 0px;
	margin-top: 2%;
	margin-bottom: 3%;
	
}

article a{
	color:#5e99f7;
	background:white;
	padding: 20px;
	margin-top: 2%;
	margin-bottom: 3%;
}

#uebermich-text{
	float:right;
	width: 55%;
}

h1{
	margin-top:20px;
	margin-bottom: 30px;
	color:#AA3759;
	font-size:2em;
}

h2{
	color:white;
	font-size:1.5em;
	margin-top: 20px;
	margin-bottom: 10px;
}

header{
	background: #5e99f7;
	width: 100%;
	text-align:left;
}

.centerbox{
	display:flex;
    justify-content: space-between;
    margin: 0px auto;
}

.spaceup{
	margin-top: 80px;
}

#headerimage{
	width: 100%;
	height:100px;
	background: center no-repeat url("pics/header_1600x100.jpg");
}

#header-animation{
		postion: absolute;
	}

#menu-list{
	text-align:center;
	position:relative;
	background:white;
	height:30px;
	cursor:pointer;
	font-weight:bold;
}

#sub-menu-list{
	text-align:center;
	position:relative;
	background:#5e99f7;
	height:30px;
	cursor:pointer;
}

.bt_menu{
	vertical-align:middle;
	height:30px;
	line-height:30px;
	list-style:none;
	display:inline;
	background:white;
	color: #5e99f7; 
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	font-size:1em;
	margin-right:20px;
	padding:auto;
}

.bt_menu:hover{
	color: #43ffe6;
	cursor:pointer;
}

.bt_sub-menu{
	vertical-align:middle;
	height:30px;
	line-height:30px;
	list-style:none;
	display:inline;
	background:none;
	color: white; 
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	font-size:1em;
	margin-right:20px;
	padding:auto;
}

.bt_sub-menu:hover{
	color: #AA3759;
	cursor:pointer;
}

#gototop{
	width:40px;
	height: 40px;
	position:fixed;
	bottom:10px;
	right:10px;
	display:none;
}

#top{
	top:0;
	position:absolute;
}

#logo{
	padding: 10px 20px;
	width: 34px;
	height:34px;
	cursor:pointer;
}

#logo-wm{
	height: 48px;
}

#menu-responsive{
		display:none;
		cursor:pointer;
	}
#menu-responsive-list{
		display:none;
		cursor:pointer;
		font-weight:bold;
	} 

.bt_menu-responsive{
		display:none;
		cursor:pointer;
	}
	
#selfie{
	width:38%;
	height:auto;
	margin-top:20px;
}

.sub_header_image{
	width:1000px;
	height:auto;
}

.sub_header_image img{
	width: 100%;
}

.fa{
	color: #006491;
}

@media screen and (max-width: 1000px) {
	#big_wrapper{
		width:100%;
		font-size: 2em;
	}
	iframe{
		margin-top:5px;
		width:100%;
		height:500px;
	}
	
	#menu-responsive-list a {
		font-size: 0.8em;
		height:1em;
		line-height:1em;
		color:#5e99f7;
		font-family: Tahoma, Verdana, Segoe, sans-serif;
		font-style: none;
	}
	
	h1{
		font-size: 1.2em;
	}
	h2{
	font-size:1em;
	margin-top: 20px;
	margin-bottom: 10px;
	}
	
	p {
	font-size:0.6em;
	line-height: 1.2em;
	background:white;
	padding: 20px;
	margin-top: 2%;
	margin-bottom: 3%;
	}
	
	
	.bt_menu{
	display:none;
	}

	#gototop {
		width:10%;
		height: auto;
		position:fixed;
		bottom:20px;
		right:20px;
	}
	#logo{
	padding: 20px;
	width:10%;
	height:auto;
	}
	#logo-wm{
		display: none;
	}
	#menu-list{
		display:none;
	}
	#sub-menu-list{
		text-align:center;
		position:realtive;
		background:#5e99f7;
		cursor:pointer;
	}
	
	.bt_sub-menu a{
	vertical-align:middle;
	list-style:none;
	display:inline;
	background:none;
	color: white; 
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	height:30px;
	line-height:30px;
	font-size:0.8em;
	margin-right:2%;
	padding:auto;
}

	#menu-responsive{
		position:absolute;
		display: block;
		top:20px;
		right:20px;
		width:10%;
		height:auto;
	}
	#menu-responsive-list{
		position:relative;
		margin-bottom: 20px;
		width:100%;
		background: #fff;
	}
	.bt_menu-responsive{
	list-style:none;
	text-align:center;
	background: #43ffe6; 
	border: 5px solid #5e99f7;
	padding: 10px;
	margin-right:0px;
	font-size:2em;
	}
	#selfie{
		width:100%;
	}
	#uebermich-text{
		float:none;
		width: 100%;
	}
	.sub_header_image{
		width:100%;
		height:auto;
		margin-bottom: 1%;
	}
	#headerimage{
		width: auto;
		height:4em;
		background: center no-repeat url("pics/header_1280x400.jpg");
	}
	#header-animation{
		display: none;
	}
	#canvas{
		width:100%;
		height:auto;
	}
	video{
		width: 100%;
	}
}
@media screen and (max-width: 1920px) {
	#headerimage{
		width:100%;
		background-size: cover;
		height:100px;
		overflow:hidden;
	}
}
